build2022
build2019
build
codecov_report
CoverageReport*
LastCoverageResults.log
xcode
perf_results/*.txt
perf_results/*.csv
build_debug0
build_debug1
build_debug2
build_debug0_Release
build_debug1_Debug
build_debug2_Debug
build_perf_0
build_perf_1
build2022_asan
